body {background-image:url(domi_huff.jpg);}

#domi_info {
    background-color: goldenrod;
    position:relative;
    left: 220px;
    bottom: 290px;
    width: 600px; 
    border-radius: 20px;
    opacity: 0.9;  
}

#master { 
    position: relative ;
    bottom: 250px;
}

#master_info{
    background-color:goldenrod;
    position:relative;
    left: 220px;
    bottom: 275px;
    width: 600px;
    border-radius: 20px;
    opacity: 0.9;
}

#ocean {opacity: 0.7;}

#side {
    position:relative;
    left: 900px;
    bottom: 1270px; 
    color: white;
    float: left;
    border-radius: 20px;
    opacity: 0.9;
    width: 300px;
}

#score_form{
    position:absolute;
    left: 5%;
    bottom: 10%; 
    color: white;
    float: left;
    font-size: 30px;
}

#ann {
    background-color: goldenrod;
    position: relative;
    bottom: 500px;
    left: 90px;
    color: white;
    width: 500px;
    border-radius: 20px;
    opacity: 0.9;
}

#visit {
    background-color: white;
    position: relative;
    bottom: 700px;
    left: 800px;
    color:black;
    border-radius: 20px;
    width:300px;
    
}